{% extends 'base.html.twig' %}
{% block body %}
  <div class="container-fluid p-5">
    <div class="row px-xl-5">
      <div class="table-responsive mb-5">
        <table table class="table table-striped caption-top">
          <thead class="table-dark">
            <tr>
              <th scope="col">L.p.</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for news in newses %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ news.title }}</td>
                <td>
                    {% for author in news.author %}
                        {{ author.name }},&nbsp
                    {% endfor %}
                </td>
                {# <td><a href="{{ path('app_refueling', {"id": car.getCarId() }) }}" class="btn btn-primary"> Open article </a></td>
                <td><a href="{{ path('car_edit', {"id": car.getCarId() }) }}" class="btn btn-primary"> Edit </a></td> #}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}