{% extends 'base.html.twig' %}
{% block body %}
  <div class="container-fluid p-5">
    <div class="row px-xl-5">
      <div class="table-responsive mb-5">
        <table table class="table table-striped caption-top">
          <thead class="table-dark">
            <tr>
              <th scope="col">no.</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Date</td>
              <th scope="col">Actions</td>
            </tr>
          </thead>
          <tbody>
            {% for news in newses %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ news.title }}</td>
                <td>
                    {% for author in news.author %}
                        {{ author.name }},&nbsp
                    {% endfor %}
                </td>
                <td>{{ news.createdAt|date('Y-m-d') }}</td>
                <td><a href="{{ path('news_edit', {"id": news.id }) }}" class="btn btn-outline-dark mt-auto"> Edit </a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}